# {{ ansible_managed }}
rsa-key-size = 4096
email = chris@chrisshort.net
domains = chrisshort.net, www.chrisshort.net, ltn.chrisshort.net, pgp.chrisshort.net, hsa.chrisshort.net, cpl.chrisshort.net, fpl.chrisshort.net
webroot-path = /var/www
