# {{ ansible_managed }}
# https://gist.github.com/renchap/c093702f06df69ba5cac#file-readme-md
# https://www.digitalocean.com/community/tutorials/how-to-redirect-www-to-non-www-with-nginx-on-centos-7
server {
  listen              80 default_server;
  listen              [::]:80 default_server;
  server_name         chrisshort.net www.chrisshort.net cdn.chrisshort.net;

  location '/.well-known' {
  default_type "text/plain";
    root        /var/www;
  }

}
